:root {
    /* light mode */
    --blue-light: #56c1d8;
    --blue-dark: #4e93b4;
    --orange-light: #f9a159;
    --orange-med: #cc7025;
    --orange-dark: #9f561a;
    --borders: solid black;
    /* dark mode */
    --grey-1: #3e3e42;
    --grey-2: #2d2d30;
    --grey-3: #808080;
}

#toFormBtn:hover{
    text-decoration: underline;
}

#theme-switcher {
    text-align: right;
    max-width: fit-content;
    background-color: var(--orange-med);
}


/* light mode */
.light {
    background-color: var(--orange-med);
    color: black;
}

.light header {
    background-color: var(--orange-light);
    color: black;
}

.light div {
    background-color: var(--blue-light);
    color: black;
}

.light .aside {
    background-color: var(--blue-dark);
    color: black;
}

.footer {
    background-color: var(--orange-light);
    color: black;
}

/* light mode end */

/* dark mode */
body .dark {
    background-color: var(--grey-1);
    color: whitesmoke;
}

.dark .header {
    background-color: var(--grey-2);
    color: whitesmoke;
}

.dark .submission {
    background-color: var(--grey-1);
    color: whitesmoke;
}

.dark footer {
    background-color: var(--grey-3);
    color: whitesmoke;
}

/* dark mode end */
#main {
    flex-direction: column;
    margin: 15px;
}

#main h1{
    text-align: center;
}

.blogSubmission {
    margin: 15px 5%;
    padding: 0 ;
    border-top: solid black;
    border-left: solid black;
    border-right: solid black;
    max-width: 90%;
    display: flex;
}

.blogSubmission h2{
    font-size: larger;
    font-weight: bolder;
    text-decoration: underline;
    line-height: 35px;
}

.blogSubmission h3 {
    font-style: italic ;
}

.blogSubmission p {
    border-bottom: solid black;
}

.footer{
    border-top:var(--borders);
}