:root {
    /* light mode */
    --blue-light: #56c1d8;
    --blue-dark: #4e93b4;
    --orange-light: #f9a159;
    --orange-med: #cc7025;
    --orange-dark: #9f561a;
    --borders: solid black;
    /* dark mode */
    --grey-1: #3e3e42;
    --grey-2: #2d2d30;
    --grey-3: #808080;
}

* {
    color:black;
}

#theme-switcher {
    text-align: right;
    max-width: fit-content;
    background-color: var(--orange-med);
}


/* light mode */
.light body {
    background-color: var(--orange-med);
    color: black;
}

.light header {
    background-color: var(--orange-light);
    color: black;
}

.light .submission {
    background-color: var(--blue-light);
    color: black;
}

.light .aside {
    background-color: var(--blue-dark);
    color: black;
}

.footer {
    background-color: var(--orange-light);
    color: black;
}

/* light mode end */

/* dark mode */
.dark body {
    background-color: var(--grey-1);
    color: whitesmoke;
}

.dark header {
    background-color: var(--grey-2);
}

.dark .submission {
    background-color: var(--grey-1);
}

.dark .aside {
    background-color: var(--grey-1);
}

.dark .footer {
    background-color: var(--grey-3);
}

/* dark mode end */