:root {
    /* light mode */
    --blue-light: #56c1d8;
    --blue-dark: #4e93b4;
    --orange-light: #f9a159;
    --orange-med: #cc7025;
    --orange-dark: #9f561a;
    --borders: solid black;
    /* dark mode */
    --grey-1: #3e3e42;
    --grey-2: #2d2d30;
    --grey-3: #252526;
}

body {
    color: black;
    background-color: var(--orange-med);
    line-height: 20px;
}

.header {
    height: auto;
    padding: 20px;
    margin: 0 0 5px 0;
    background-color: var(--orange-light);
    border-bottom: var(--borders);
    text-align: end;
}

.header h1 {
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
}


main {
    flex-direction: row;
    justify-content: center;
    border-top: var(--borders);
    border-bottom: var(--borders);
}

.submission {
    flex-direction: column;
    background-color: var(--blue-light);
    border-left: var(--borders);
    margin-left: 5px;

}

.aside {
    background-color: var(--blue-dark);
    max-width: 40%;
    padding: 40px;
    border-right: var(--borders);
    text-align: center;
}

img{
    filter: drop-shadow( -10px 15px 10px);
}

.footer {
    margin-top: 5px;
    background-color: var(--orange-light);
    width: 100%;
    text-align: center;
    border-top: var(--borders);
    

}

@media screen and (max-width: 1000px) {
    main {
        flex-direction: column;
    }

    .aside {
        max-width: 90%;
        margin: 5%;
        border: var(--borders)
    }

    .submission {
        border: var(--borders);
        max-width: 90%;
        margin: 0 5%;
        background-color: var(--blue-dark);
    }
}