:root {
    /* light mode */
    --blue-light: #56c1d8;
    --blue-dark: #4e93b4;
    --orange-light: #f9a159;
    --orange-med: #cc7025;
    --orange-dark: #9f561a;
    --borders: solid black;
    /* dark mode */
    --grey-1: #3e3e42;
    --grey-2: #2d2d30;
    --grey-3: #808080;
}

/* switching tag for java */
#theme-switcher {
    cursor: pointer;
    text-align: right;
    max-width: fit-content;
    background-color: var(--orange-med);
}

/* light mode */
body .light {
    background-color: var(--orange-med);
    color: black;
}

.light header {
    background-color: var(--orange-light);
    color: black;
}

.light .submission {
    background-color: var(--blue-light);
    color: black;
}

.light .aside {
    background-color: var(--blue-dark);
    color: black;
}

.light .footer {
    background-color: var(--orange-light);
    color: black;
}

/* light mode end */

/* dark mode */
body .dark {
    background-color: var(--grey-1);
    color: whitesmoke;
}

.dark header {
    background-color: var(--grey-2);
}

.dark .submission {
    background-color: var(--grey-1);
}

.dark .aside {
    background-color: var(--grey-1);
}

.dark .footer {
    background-color: var(--grey-3);
}

/* dark mode end */

/* setting up the two sections to be side by side */
main {
    flex-direction: row;
    justify-content: center;
    border-top: var(--borders);
    border-bottom: var(--borders);
}

/* setting up submissions section to be stacked in columns */
.submission {
    flex-direction: column;
    border-left: var(--borders);
    padding: 15px;
}

.aside {
    max-width: 40%;
    padding: 40px;
    border-right: var(--borders);
    text-align: center;
}

/* blog input text minimum height */
#blog {
    min-height: 200px;
}

/* message for correct or incorrect submissions */
/* not working yet! */
#msg {
    visibility: hidden;
    margin-top: 20px;
    font-weight: 700;
    height: 1.2em;
    font-size: 1.2em;
}

#msg.success,
#msg.error {
    visibility: visible;
}

#msg.success {
    color: #001b44;
}

#msg.error {
    color: #e6252c;
}

#submit {
    position: relative;
    width: fit-content;
    cursor: pointer;
}

/* end for correct or incorrect submissions */



img {
    filter: drop-shadow(-10px 15px 10px black);
}

.footer {
    border-top: var(--borders);
}


@media screen and (max-width: 1000px) {

    /* when screen gets smaller, the two sections stack in columns */
    main {
        flex-direction: column;
    }

    .submission,
    .aside {
        border: var(--borders);
        max-width: 90%;
        margin: 2.5% 5%;
        background-color: var(--blue-dark);
    }
}