:root {
    /* light mode */
    --blue-light: #56c1d8;
    --blue-dark: #4e93b4;
    --orange-light: #f9a159;
    --orange-med: #cc7025;
    --orange-dark: #9f561a;
    --borders: solid black;
    /* dark mode */

    --grey-1: #3e3e42;
    --grey-2: #2d2d30;
    --grey-3: #808080;
}
#theme-switcher{
    text-align: right;
    max-width: fit-content;
    background-color: var(--orange-med);
}
/* light mode */
body {
    background-color: var(--orange-med);
    color: black;
}

.light header {
    background-color: var(--orange-light);
}

.light .submission {
    background-color: var(--blue-light);
}

.light .aside {
    background-color: var(--blue-dark);
}

.footer {
    background-color: var(--orange-light);
}

/* light mode end */

/* dark mode */
body {
    background-color: var(--grey-1);
    color: whitesmoke;
}

.dark header {
    background-color: var(--grey-2);
}

.dark .submission {
    background-color: var(--grey-1);
}

.dark .aside {
    background-color: var(--grey-1);
}

.dark .footer {
    background-color: var(--grey-3);
}

/* dark mode end */
body {
    line-height: 20px;
}

.header {
    height: auto;
    padding: 20px;
    margin: 0 0 5px 0;
    border-bottom: var(--borders);
    text-align: end;
}

a:hover {
    text-decoration: underline;
    font-weight: 900;
}

.header h1 {
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
}

main {
    flex-direction: row;
    justify-content: center;
    border-top: var(--borders);
    border-bottom: var(--borders);
}

.submission {
    flex-direction: column;
    border-left: var(--borders);
    padding: 15px;
}

#blog {
  min-height: 200px;
}

.aside {
    max-width: 40%;
    padding: 40px;
    border-right: var(--borders);
    text-align: center;
}

img {
    filter: drop-shadow(-10px 15px 10px black);
}

.footer {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    border-top: var(--borders);


}

@media screen and (max-width: 1000px) {
    main {
        flex-direction: column;
    }

    .aside {
        max-width: 90%;
        margin: 5%;
        border: var(--borders)
    }

    .submission {
        border: var(--borders);
        max-width: 90%;
        margin: 0 5%;
        background-color: var(--blue-dark);
    }
}